<!doctype html>
<html>
<head>
	<title>Hello AngularJS</title>
	<link href="css/angular-bootstrap.css" rel="stylesheet">
	<style type="text/css">
		[ng\:cloak], [ng-cloak], .ng-cloak {
			display: none !important;
		}
	</style>
</head>
<body ng-app="hello" ng-cloak class="ng-cloak">
	<div ng-controller="navigation" class="container">
		<ul class="nav nav-pills" role="tablist">
			<li class="active"><a href="#/">Home</a></li>
			<li><a href="#/login">Login</a></li>
			<li ng-show="autheticated"><a href="#/login" ng-click="logout()">Logout</a></li>
		</ul>
	</div>
	<div ng-view class="container"></div>
	<script src="js/angular-bootstrap.js" type="text/javascript"></script>
	<script src="hello.js" type="text/javascript"></script>
</body>
</html>